[Service]
ExecStart=/bin/sh -c "/opt/bin/kube-proxy --master=$(/usr/bin/etcdctl get kubedemo/api_server):8080"

[X-Fleet]
MachineMetadata=worker=true
Global=true
