[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/bin/kube-apiserver \
--allow_privileged=true \
--address=0.0.0.0 \
--logtostderr=true \
--port=8080 \
--kubelet_https=false \
--secure_port=0 \
--portal_net=10.200.0.0/16 \
--v=2 \
--etcd_servers=http://127.0.0.1:2379
ExecStartPost=/usr/bin/etcdctl set kubedemo/api_server ${COREOS_PRIVATE_IPV4}

[X-Fleet]
MachineMetadata=master=true
